* {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;

}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    box-sizing: border-box;
    transition: 0.05s;
    z-index: 999;
    background-color: #372c1dd5;
}

.logo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo h2 {
    /*margin-left: 10px;*/
    font-size: 30px;
    color: black;
}

.logo img {
    height: 90%;
    filter: invert(31%) sepia(89%) saturate(1368%) hue-rotate(338deg) brightness(85%) contrast(86%);
}

header a {
    margin: 0 1px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

.ini {
    border-radius: 30px;
    background-color: #962d26;
    font-weight: 600;
    transition: 0.2s ease;
}

.ini:hover {
    background-color: #cb3f35;
    transition: 0.2s ease;
}

@media(max-width:626px) {
    h2 {
        display: none;
    }

    .logo img {
        height: 90%;
    }

}

@media(max-width:435px) {

    /*
    nav a {
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 80%;
        text-align: center;
    }
    */
    nav .dos {
        display: none;
    }
}

